
@use'header';

@mixin image {
  width: 294.39px;
  height: 294.39px;
  margin: 0 0 10px;
}

.image-container{

  @include image;
}

.products{
  position: relative;
  margin: 10px auto;
}
.image-container {
  object-fit: cover;
  z-index: 1;
}

.box{
  position: relative;
    width: 294.39px;
    height: 294.39px;
}

.box::before{
  content:"";
    position: absolute;
    bottom: 0;
    left: 194.39px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 0 100px 100px;
}

.right{
  position: absolute;
  bottom: 20px;
  right: 0;
  z-index: 3;
}

/*矢印が右に移動する*/
.btnarrow4{
  /*矢印と下線の基点とするためrelativeを指定*/
position: relative;
  /*形状*/
  display: inline-block;
padding: 0 20px;
  color: #333;
  text-decoration: none;
  outline: none;
}

/*矢印と下線の形状*/
.btnarrow4::before{
  content: '';
  /*絶対配置で下線の位置を決める*/
position: absolute;
  bottom:-8px;
  left:15%;
  /*下線の形状*/    
  width: 85%;
  height: 1px;
background:#333;
  /*アニメーションの指定*/
  transition: all .3s;
}

.btnarrow4::after{
  content: '';
  /*絶対配置で矢印の位置を決める*/
position: absolute;
  bottom:-3px;
  right:0;
  /*矢印の形状*/    
  width: 15px;
  height:1px;
background:#333;
  transform: rotate(35deg);
  /*アニメーションの指定*/
  transition: all .3s;
}

/*hoverした際の移動*/
.btnarrow4:hover::before{
  left:20%;
}

.btnarrow4:hover::after{
  right:-5%;
}

/* .image-container{
  clip-path: url(#myClip)
} */

.product{
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  justify-content: space-between;
  margin: 0 auto;
}

.image-bottom{
  display: flex;
  justify-content: space-between;
  width: 1280px;
  display: none;
}

.view-more{
  max-width: 1440px;
  width: 800px;
  height: 40px;
  text-align: center;
  margin: 20px auto;
  padding-top: 10px;
  font-weight: bold;
  border: 2px solid;
}

.view-more:hover{
  background-color: black;
  color: white;
}

.button{
  display: flex;
  justify-content: center;
}

.select-button{
  margin-right: 10px;
}


























