// @use'scss/header';

@mixin image {
  width: 294.39px;
  height: 294.39px;
  margin: 0 0 10px;
}

.image-container{
  @include image;
}



body {
    background-color: red;
}


















@use 'footer' as footer;